<div *ngIf="trainer">
  <h2>{{ trainer.firstName }} {{ trainer.lastName }}</h2>
  <h4 *ngIf="!trainer.isVerified">Unverified Account</h4>
  <!-- TODO: Add link to information on verification. IE REPs confirmation. -->
  <ul class="list-group">
    <li class="list-group-item">
      Username: {{ trainer.userName }}
    </li>
    <li class="list-group-item">
      Email: {{ trainer.email }}
    </li>
    <li class="list-group-item">
      Sex: {{ trainer.sex }}
    </li>
    <li class="list-group-item">
      Age: {{ trainer.age }}
    </li>
    <li class="list-group-item">
      REPs Number: {{ trainer.repsRef }}
    </li>
    <li class="list-group-item">
      Clients: {{ trainer.clients.length }}
    </li>
    <li class="list-group-item">
      Tags: {{ trainer.tags }}
    </li>
  </ul>
</div>